@media (max-width: 600px) {
  header {
    position: relative;
  }

  header nav {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #15304c;
    width: 100%;
  }

  header nav li {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
  }

  header nav li a:hover {
    text-decoration: underline;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 23px;
  }
  nav li a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 600px) {
  header nav {
    display: block !important;
  }
}
